body {
  background-color: #daad86;
  color: #312c32;
}

.deal {
  padding: 10px;
}

.deal-container {
  background-color: #feffff;
  border: 1px solid #312c32;
}

.deal-title {
  text-align: center;
  font-size: 1.0em;
}

.deal-image {
  padding: 10px;
  text-align: center;
}

.deal-image img {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(49,44,50,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(49,44,50,1);
box-shadow: 0px 5px 5px 0px rgba(49,44,50,1);}

.vendor-name {
  text-align: center;
  background-color: #98dafc;
  color: #feffff;
  font-size: 1.5em;
}

