body {
  background-color: #feffff;
  color: #312c32;
}

.deal {
  padding: 10px;
}

.deal-container {
  background-color: #daad86;
  border-radius: 5px;
  border: 1px solid #312c32;
  position: relative;
}

.deal-title {
  text-align: center;
  font-size: 1.5em;
  background-color: #98dafc;
  color: #feffff;
}

.deal-image {
  padding: 10px;
  text-align: center;
}

.vendor-name {
  text-align: center;
  background-color: #98dafc;
  font-size: 1.5em;
  color: #feffff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

